@import "tailwindcss";

@layer components {
	.tooltip {
		@apply fixed z-50 px-2 py-1 rounded-md bg-neutral-900 text-neutral-50 text-xs whitespace-nowrap pointer-events-none shadow-md;
	}

	.tooltip::after {
        /* Arrow pointing down */
		content: "";
		@apply absolute top-full border-4 border-transparent border-t-neutral-900;
		left: var(--arrow-left, 50%);
		transform: translateX(-50%);
	}
}


